services:
  eureka:
    image: steeltoeoss/eureka-server
    container_name: eureka-server
    ports:
      - "8761:8761"
    environment:
      - eureka.instance.hostname=eureka
      - eureka.client.registerWithEureka=false
      - eureka.client.fetchRegistry=false

  iam.api:
    image: iam.api
    build:
      context: .
      dockerfile: IAM.API/Dockerfile
    depends_on:
      - iam.db
      - eureka
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=server=iam.db;port=3306;database=iamdb;user=root;password=iam123
      - eureka:client:serviceUrl=http://eureka:8761/eureka/
    ports:
      - "5001:8080"

  iam.db:
    image: mysql:8.0
    container_name: iam-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: iam123
      MYSQL_DATABASE: iamdb
    ports:
      - "3307:3306"
    volumes:
      - iam-db-data:/var/lib/mysql

  fleetmanagement.api:
    image: fleetmanagement.api
    build:
      context: .
      dockerfile: FleetManagement.API/Dockerfile
    depends_on:
      - fleet.db
      - eureka
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=server=fleet.db;port=3306;database=fleetdb;user=root;password=fleet123
      - eureka:client:serviceUrl=http://eureka:8761/eureka/
    ports:
      - "5002:8080"

  fleet.db:
    image: mysql:8.0
    container_name: fleet-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: fleet123
      MYSQL_DATABASE: fleetdb
    ports:
      - "3308:3306"
    volumes:
      - fleet-db-data:/var/lib/mysql

  maintenance.api:
    image: maintenance.api
    build:
      context: .
      dockerfile: Maintenance.API/Dockerfile
    depends_on:
      - maintenance.db
      - eureka
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=server=maintenance.db;port=3306;database=maintenancedb;user=root;password=main123
      - eureka:client:serviceUrl=http://eureka:8761/eureka/
    ports:
      - "5003:8080"

  maintenance.db:
    image: mysql:8.0
    container_name: maintenance-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: main123
      MYSQL_DATABASE: maintenancedb
    ports:
      - "3309:3306"
    volumes:
      - maintenance-db-data:/var/lib/mysql

  personnel.api:
    image: personnel.api
    build:
      context: .
      dockerfile: Personnel.API/Dockerfile
    depends_on:
      - personnel.db
      - eureka
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=server=personnel.db;port=3306;database=personneldb;user=root;password=pers123
      - eureka:client:serviceUrl=http://eureka:8761/eureka/
    ports:
      - "5004:8080"

  personnel.db:
    image: mysql:8.0
    container_name: personnel-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: pers123
      MYSQL_DATABASE: personneldb
    ports:
      - "3310:3306"
    volumes:
      - personnel-db-data:/var/lib/mysql

  analytics.api:
    image: analytics.api
    build:
      context: .
      dockerfile: Analytics.API/Dockerfile
    depends_on:
      - analytics.db
      - eureka
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=server=analytics.db;port=3306;database=analyticsdb;user=root;password=analyt123
      - eureka:client:serviceUrl=http://eureka:8761/eureka/
    ports:
      - "5005:8080"
  
  analytics.db:
    image: mysql:8.0
    container_name: analytics-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: analyt123
      MYSQL_DATABASE: analyticsdb
    ports:
      - "3311:3306"
    volumes:
      - analytics-db-data:/var/lib/mysql
      
  api-gateway:
    image: api-gateway
    build:
      context: .
      dockerfile: api-gateway/Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - eureka
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - eureka:client:serviceUrl=http://eureka:8761/eureka/

volumes:
  iam-db-data:
  fleet-db-data:
  maintenance-db-data:
  personnel-db-data:
  analytics-db-data:  