services:
  maintenance.api:
    image: maintenance.api
    build:
      context: .
      dockerfile: Maintenance.API/Dockerfile

  personnel.api:
    image: personnel.api
    build:
      context: .
      dockerfile: Personnel.API/Dockerfile

